.product-item {
    border-radius: 10px;

    .card-title {
        color: #6F2C6D;
        font-size: 16px;
    }

    .card-footer {
        background: none !important;
    }

    .price {
        font-weight: bold;
    }
}